
<!DOCTYPE html>
<html lang="ru">
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>

<body>
    <div class="tabs">
       <!--  Контейнер с вкладками   -->
       <ul class="tab-header">
          <li class="tab-header__item js-tab-trigger active" data-tab="1">Обзор</li>
          <li class="tab-header__item js-tab-trigger" data-tab="2">Скрипты</li>
          <li class="tab-header__item js-tab-trigger" data-tab="3">Журнал</li>
       </ul>
       <!--  Контейнер с блоками, которые содержат контент вкладок   -->
       <ul class="tab-content">
          <li class="tab-content__item js-tab-content active" data-tab="1">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'complete') " id="defaultOpen">Выполнение скриптов</button>
                <button class="tablinks" onclick="openTab(event, 'udp_groups')">Редактирование групп</button>
                <button class="tablinks" onclick="openTab(event, 'udp_hosts')">Редактирвание хостов</button>
            </div>
            <!--  Контент первой вкладки  -->
              <div id="complete" class="tabcontent">
                <div class="main-box">
                    <!-- Поиск, refresh, ping на вкладке "обзор" -->
                    <form class="srch-box">
                      <div> 
                        <input
                          type="text"
                          class="search-txt"
                          type="text"
                          name="sg"
                          placeholder="Поиск хостов"
                        />
                        <button class="search first-line" type="submit">Search</button>
                      </div>
                      <div>
                        <button class="refresh first-line">Refresh</button>
                        <button class="ping first-line">Ping</button>
                      </div>
                    </form>
                    <!-- Список скриптов на вкладке "обзор" -->
                    <div class="list-scripts">
                      <!-- Первый скрипт на вкладке "обзор" -->
                      {% for hostGroup in hostGroups %}
                      <div class="{{forloop.counter}}-script script" >
                        <!-- Кнопка раскрытия информации, чекбок и название скрипта-->
                        <div class="name-script">
                            <img src="{% static 'img/arrow.svg' %}" alt="arrow" width="40" />
                            <input type="checkbox" id="" name="" class="checkbox{{forloop.counter}}"/>
                            <p class="name">{{ hostGroup.name }}</p>
                          <table class="table-info{{forloop.counter}}">
                            <tr>
                              <th></th>
                              <th>Наименование</th>
                              <th>Сетевое имя</th>
                              <th>IP-адрес</th>
                              <th>Железо</th>
                              <th>Доступ</th>
                            </tr>
                            {% for host in hostGroup.hosts %}
                            <tr>
                              <td><input type="checkbox" id="" name="" /></td>
                              <td>{{ host.name }}</td>
                              <td>{{ host.network_name }}</td>
                              <td>{{ host.ip }}</td>
                              <td>{{ host.hardware }}</td>
                              <td>Ping</td>
                            </tr>
                            {% endfor %}
              
                          </table>
                        </div>
                        <!-- Информация о скрипте (таблица) -->
                      </div>
                      {% endfor %}
                      <!-- Кнопка выполнение скрипта -->
                    <button class="btn-script">Выполнить скрипт</button>
                    </div>
                </div>  
              </div>
              <div id="udp_groups" class="tabcontent">
                <div class="main-box">
                  <!-- Поиск, refresh, ping на вкладке "Редактирование групп" -->
                  <form class="srch-box">
                    <div>
                      <input
                        type="text"
                        class="search-txt"
                        type="text"
                        name="sg"
                        placeholder="Поиск хостов"
                      />
                      <button class="search first-line" type="submit">Search</button>
                    </div>
                      <button class="ping delete first-line">Delete</button>
                  </form>
                  <!-- Список скриптов на вкладке "Редактирование групп" -->
                  <div class="list-scripts">
                    <!-- Первый скрипт на вкладке "Редактирование групп"-->
                    {% for hostGroup in hostGroups %}
                      <div class="{{forloop.counter}}-script script" >
                        <!-- Кнопка раскрытия информации, чекбок и название скрипта-->
                        <div class="name-script">
                            <img src="{% static 'img/pencil.png' %}" alt="arrow" width="38" />
                            <input type="checkbox" id="" name="" class="checkbox{{forloop.counter}}"/>
                            <label class="name">{{ hostGroup.name }}</label>
                          <table class="table-info{{forloop.counter}}">
                            <tr>
                              <th></th>
                              <th>Наименование</th>
                              <th>Сетевое имя</th>
                              <th>IP-адрес</th>
                              <th>Железо</th>
                              <th>Доступ</th>
                            </tr>
                            {% for host in hostGroup.hosts %}
                            <tr>
                              <td><input type="checkbox" id="" name="" /></td>
                              <td>{{ host.name }}</td>
                              <td>{{ host.network_name }}</td>
                              <td>{{ host.ip }}</td>
                              <td>{{ host.hardware }}</td>
                              <td>Ping</td>
                            </tr>
                            {% endfor %}
              
                          </table>
                        </div>
                      </div>
                    {% endfor %}
                    <!-- Кнопка добавления группы -->
                  <button class="btn-script" >Добавить хост в группу</button>
                  </div>
                </div>  
              </div>
              <div id="udp_hosts" class="tabcontent">
                <div class="main-box">
                  <form class="srch-box">
                    <div>
                      <input
                        type="text"
                        class="search-txt"
                        type="text"
                        name="s"
                        placeholder="Поиск хостов"
                      />
                      <button class="search first-line" type="submit">Search</button>
                    </div>
                    <div>
                      <button class="refresh first-line">Refresh</button>
                      <input class="ping first-line" form="delete-hosts-form" type="submit" value="Delete"/>
                    </div>
                  </form>
                  <div class="list-hosts">
                    <div class="hosts">
                      <!-- Кнопка раскрытия информации, чекбокc и название скрипта-->
                      <form class="name-hosts" id="delete-hosts-form" action="{% url 'delete-hosts' %}">
                        <table>
                          <tr>
                            <th></th>
                            <th>Наименование</th>
                            <th>Сетевое имя</th>
                            <th>IP-адрес</th>
                            <th>Группа</th>
                            <th>Железо</th>
                            <th>Доступ</th>
                          </tr>
                            {% for host in hosts %}
                              <tr>
                                <td bordercolor="white"> <input type="checkbox" value="{{host.id}}" name="deleteHosts" /></td>
                                <td>{{ host.name }}</td>
                                <td>{{ host.network_name }}</td>
                                <td>{{ host.ip }}</td>
                                <td>{{ host.group.name }}</td>
                                <td>{{ host.hardware }}</td>
                                <td>Ping</td>
                              </tr>
                            {% endfor %}
                        </table>
                      </form>
                    </div>
                    <!-- Кнопка добавления хоста -->
                    <a href="{% url 'create-host' %}" class="btn-add"> <button class="btn-script">Добавить хост</button></a>
                  </div>
              </div>  
              </div>
          </li>
          <li class="tab-content__item js-tab-content" data-tab="2">
            <div class="tab">
              <button class="tablinks" onclick="openTab(event, 'list-scripts') " id="defaultOpen">Список скриптов</button>
            </div>
            <div id="list-scripts" class="tabcontent">
              <div class="main-box">
                <form class="srch-name">
                  <div>
                    <input
                      type="text"
                      class="search-txt"
                      type="text"
                      name="ss"
                      placeholder="Поиск по наименованию"
                    />
                    <button class="search first-line" type="submit">Search</button>
                  </div>
                  <button class="refresh first-line">Refresh</button>
                </form>
                <div class="table-scripts">
                  <table>
                      <tr >
                        <th>Наименование</th>
                        <th>Дата добавления</th>
                        <th>Номер версии</th>
                        <th>Размер</th>
                        <th>Тип</th>
                        <th>Расположение</th>
                        <th>Описание</th>
                      </tr>
                    {% for script in scripts %}
                      <tr>
                        <td>{{ script.name }}</td>
                        <td>{{ script.creation_date|date:"d.m.Y" }}</td>
                        <td>{{ script.version }}</td>
                        <td>{{ script.size }}</td>
                        <td>Файл "{{ script.file_type }}"</td>
                        <td>{{ script.path }}</td>
                        <td>{{ script.description }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div> 
            </div>  
            <div class="btn-page-sripts">
              <button class="btn-script archive">В архив</button>
              <button class="btn-script add-script">Добавить скрипт</button>
            </div>
            </div>
          </li>
          <li class="tab-content__item js-tab-content" data-tab="3">
            <div class="tab">
              <button class="tablinks" onclick="openTab(event, 'users') " id="defaultOpen">Пользователи</button>
              <button class="tablinks" onclick="openTab(event, 'results')">Результаты выполнения</button>
          </div>
          <!--  Контент первой вкладки  -->
            <div id="users" class="tabcontent">
              <div class="main-box">
                  <form class="srch-box">
                    <input
                      type="text"
                      class="search-txt"
                      type="text"
                      name="su"
                      placeholder="Поиск"
                    />
                      <label class="sort-txt"> Сортировать по:</label>
                      <input type="radio" class="custom-checkbox" id="date" name="sort-u" value="action_date">
                      <label class="text" for="date">по дате</label>
                      <input type="radio" class="custom-checkbox" id="users" name="sort-u" value="user__name">
                      <label class="text" for="users">по пользователю</label> 
                      {% comment %} <input type="radio" class="custom-checkbox" id="groups" name="groups" value="yes">
                      <label class="text" for="groups">по группе</label> {% endcomment %}
                    <button class="search first-line" type="submit">Search</button>
                  </form>
                      <div class="table-users">
                        <table>
                            <tr >
                              <th class="first" >Пользователь</th>
                              <th class="first" >Дата и время</th>
                              <th class="first" >Сообщение</th>
                            </tr>
                          {% for userLog in userLogs %}
                            <tr>
                              <td>{{ userLog.user__name }}</td>
                              <td>{{ userLog.action_date|date:"d.m.Y G:i" }}</td>
                              <td>{{ userLog.action_description }}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      </div> 
              </div>  
            </div>
            <div id="results" class="tabcontent">
              <div class="main-box">
                <form class="srch-box">
                  <input
                    type="text"
                    class="search-txt"
                    type="text"
                    name="ssr"
                    placeholder="Поиск"
                  />
                    <label class="sort-txt"> Сортировать по:</label>
                    <input type="radio" class="custom-checkbox" id="date" name="sort-s" value="run_date">
                    <label class="text" for="date">по дате</label>
                    {% comment %} <input type="radio" class="custom-checkbox" id="users" name="users" value="yes">
                    <label class="text" for="users">по пользователю</label> {% endcomment %}
                    <input type="radio" class="custom-checkbox" id="groups" name="sort-s" value="run_for__group">
                    <label class="text" for="groups">по группе</label>
                    <button class="search first-line" type="submit">Search</button>
                </form>

                <div class="table-results">
                  <table>
                      <tr >
                        <th class="first" >Скрипт</th>
                        <th class="first" >Дата и время</th>
                        <th class="first" >IP хоста</th>
                        <th class="first" >Группы</th>
                        <th class="first" >Результат выполнения</th>
                      </tr>
                    {% for scriptResult in scriptResults %}
                      <tr>
                        <td>{{ scriptResult.script.name }}</td>
                        <td>{{ scriptResult.run_date |date:"d.m.Y G:i" }}</td>
                        <td>{{ scriptResult.run_for.ip }}</td>
                        <td>{{ scriptResult.run_for.group }}</td>
                        <td>{{ scriptResult.result }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div> 
            </div>
          </li>
       </ul>
    </div>
</body>
<script src="{% static 'scripts/script.js' %}"></script>

</html>

						